<% include header.ejs %>
<form method="get" action="chat">
  <input type="submit" value="入室">
  <input type="hidden" name="_csrf" value="<%= csrftoken %>">
  <input type="hidden" name="room" value="1">
</form>
<form method="get" action="chat">
  <input type="submit" value="入室">
  <input type="hidden" name="_csrf" value="<%= csrftoken %>">
  <input type="hidden" name="room" value="2">
</form>
<% include footer.ejs %>
